## References
- input references here

## Load Library

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt; plt.rcdefaults()

## Load & Clean Data

In [202]:
# load all files into df, drop the last two columns which are 'na'
allfile = [i+str(j)+'.txt' for i in ['data/'+item for item in ['train_FD00','test_FD00','RUL_FD00']] for j in range(1,4+1)]
data = train1,train2,train3,train4, test1,test2,test3,test4, RUL1,RUL2,RUL3,RUL4
data = [pd.read_csv(file, sep=' ', header=None) for file in allfile]
[f.drop(f.columns[[-1, -2]], axis=1, inplace=True) for f in data[0:8]]
header = ['id','cycle'] + ['setting'+str(i) for i in range(1,3+1)] + ['sensor'+str(j) for j in range(1,21+1)]
for k in range(8): data[k].columns = header

In [ ]:
# shape of the data
# data dimensions
pd.DataFrame(np.array([ [ np.shape(train1)[0], np.shape(train2)[0], np.shape(train3)[0], np.shape(train4)[0], np.shape(test1)[0], np.shape(test2)[0], np.shape(test3)[0], np.shape(test4)[0], np.shape(RUL1)[0], np.shape(RUL2)[0], np.shape(RUL3)[0], np.shape(RUL4)[0] ], 
                        [ np.shape(train1)[1], np.shape(train2)[1], np.shape(train3)[1], np.shape(train4)[1], np.shape(test1)[1], np.shape(test2)[1], np.shape(test3)[1], np.shape(test4)[1], np.shape(RUL1)[1], np.shape(RUL2)[1], np.shape(RUL3)[1], np.shape(RUL4)[1] ] ]), 
             index=['#columns', '#rows'],
             columns=['train1', 'train2', 'train3', 'train4', 'test1', 'test2', 'test3', 'test4', 'URL1', 'URL2', 'URL3', 'URL4'])

In [217]:
pd.DataFrame(np.array([ [np.shape(dd)[0] for dd in data], [np.shape(ff)[1] for ff in data] ]),
                     index=['#columns', '#rows'],
                     columns=[string + str(h) for string in ['train','test','URL'] for h in range(1,4+1)])

,train1,train2,train3,train4,test1,test2,test3,test4,URL1,URL2,URL3,URL4
#columns,20631,53759,24720,61249,13096,33991,16596,41214,100,259,100,248
#rows,26,26,26,26,26,26,26,26,2,2,2,2

In [215]:
type([string + str(h) for string in ['train','test','URL'] for h in range(1,4+1)])

list